@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Luxurious+Roman&family=Merriweather:wght@700&family=Poppins:wght@200&display=swap');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
     font-family: 'Redressed', cursive;
   
}

.app_body{
    width: 100%;
    min-height: 100vh;
    color: gray;
  
}
a{
    color: gray;
}


button a,
h1{
    color: rgb(13, 137, 194);
}

button{
    cursor: pointer;
}

.heading{
    border-bottom: 3px solid rgb(13, 137, 194);
    padding-bottom: 0.5rem;
}

.app_container{
    width: 90%;
    background-color: white;
    margin: 3rem auto 4rem;
    padding-bottom: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(53, 51, 51);
    border-radius: 10px;
    letter-spacing: 2px;
}

.dark{
    background-color: rgba(15, 15, 15, 0.725);
    color:white;
}

.dark .nav-menu{
    background-color: black;
}
.dark .nav-menu a{
    color: white;
}

h3{
    color: lightcoral;
}

button{
    border:2px solid  rgb(13, 137, 194);
    background: rgba(92, 188, 233, 0.223) !important;
   color :rgb(13, 137, 194);
}
.dark button a{
    color: rgb(13, 137, 194) ;
}

@media screen and (max-width:900px) {
    .app_container{
        width: 100%;
        margin: 0;
        height: 100%;

    }
    
}

.too_big{
    font-size: 2.5rem;
    color: rgb(13, 137, 194);
    font-weight: bold;
    margin-bottom: 1.5rem;
     font-family: 'Redressed', cursive !important;
}

.heading{
    border-bottom: 4px solid rgb(13, 137, 194);
}

.small_underline{

    width: 70px;
    height: 5px;
    background: lightcoral ;
    margin: 1rem 0;
    box-shadow: 1px 1px 2px lightpink;
}

.side_heading{
    font-size: 20px;
    color: lightcoral ;
    font-weight: bold;
    margin: 1.5rem 0;
}

a{
    text-decoration: none;
}

.footer{
    margin: 2rem 0;
    color: gray;
    width: 100%;
    text-align: center;
}
.footer h3{
    margin-top: 1rem;
    color: gray;
}
.footer_line{
    width: 100vw;
    height: 3px;
    background-color: gray;
}

@media screen and (max-width:700px) {
    html{
        font-family: 'Courier New', Courier, monospace;
    }
}