.projects{
    margin: 2rem 0;
    width: 80%;
    max-width: 800px;
}

.projects_body{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.project_title{
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 1rem;
    color: rgb(13, 137, 194);
     font-family: 'Redressed', cursive;
}

.card{
    width: 320px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgb(59, 59, 59),
    -4px -4px 4px rgb(58, 58, 58);
    margin: 1.5rem 1rem 2rem 0;

}

.card_info{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.card img{
    width: 100%;
    background-size: contain;
}

.stack_body{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.stack_body p{
    margin: 1rem 1rem 0.3rem 1rem;
}

.button_body{
    display: flex;
}

.button_body button{
    margin: 0 1.5rem;
    padding: 0.7rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width:850px) {
    .projects_body{
        justify-content: center;
    }
}
