.skills{
    max-width: 800px;
    width: 80%;
    margin: 2rem 0 0 0;
}



.skills_info,
.skills_info_table h3{

    margin: 1.5rem 0;
}

.table{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}